h1  {
  font-family: monospace;
  font-size: 45px;
  color: rgb(158, 224, 92);
  padding-left: 30px;
}

h2  {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: chartreuse;
  margin-bottom: 20px;
  margin-top: 30px;
}

h3  {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  margin: 35px;
}

h4  {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

p  {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: 100;
  color: rgb(179, 255, 103);
  padding-left: 40px;
}

body  {
  background-color: rgb(32, 34, 29);
  color: greenyellow;
}

img  {
  margin: auto;
  width: 100px;
  height: auto;
  display: block;
}
.jumbotron {
  padding-top: 20px;
  background-color: rgb(54, 54, 54);
}

.container  {
  background-color: rgb(16, 20, 19);
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  width: 80%;
  border: 0px solid rgb(213, 255, 172);
  border-radius: 15px 50px 20px;
}

.formgroup  {
  font-family: monospace;
  font-size: 11pt;
  color: rgb(180, 209, 151);
  padding-left: 30px;
}

#aqua-color  {
  color: aqua;
}

#cornflower-color  {
  color: cornflowerblue;
}

#turquoise-color  {
  color: turquoise;
}

#navy-color  {
  color: navy;
  background-color: gray;
}

.btn-success {
  height: 60px;
  font-family: monospace;
  font-size: 30px;
  color: black;
  margin-bottom: 100px;
}

#csharp  {
  display: none;
  margin-top: -100px;
}

#python  {
  display: none;
  margin-top: -100px;
}

#javascript  {
  display: none;
  margin-top: -100px;
}

#ruby  {
  display: none;
  margin-top: -100px;
}

.p-result  {
  text-align: center;
  font-size: 12pt;
  margin-bottom: 70px;
}