h1  {
  font-family: monospace;
  font-size: 40px;
  color: chartreuse;
}

h2  {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: chartreuse;
  margin-bottom: 20px;
  margin-top: 30px;
}

h3  {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  margin: 35px;
}

h4  {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

p  {
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 100;
  color: rgb(179, 255, 103);
}

body  {
  background-color: rgb(32, 34, 29);
  color: greenyellow;
}

img  {
  margin: auto;
  width: 100px;
  height: auto;
  display: block;
}
.jumbotron {
  padding-top: 20px;
  background-color: rgb(54, 54, 54);
}

.container  {
  background-color: rgb(16, 20, 19);
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-left: 50px;
  width: 80%;
}

.formgroup  {
  padding-left: 30px;
}

.btn-success {
  height: 60px;
  font-family: monospace;
  font-size: 30px;
  color: black;
}

#csharp  {
  display: none;
}

#python  {
  display: none;
}

#javascript  {
  display: none;
}

#ruby  {
  display: none;
}

.p-result  {
  text-align: center;
  font-size: 12pt;
  margin-bottom: 70px;
}